{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Login{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="row">
      <div class="one-half column" style="margin-top: 25%">
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    <ul class=flashes>
	    {% for message in messages %}
	      <li>{{ message }}</li>
	    {% endfor %}
	    </ul>
	  {% endif %}
	{% endwith %}
	<script async src="https://telegram.org/js/telegram-widget.js?21" data-telegram-login="locnvexpensetracking_bot" data-size="large" data-auth-url="https://hde0.loqz.pw/tauth" data-request-access="write"></script>
      </div>
    </div>
{% endblock %}

